<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <main>
        <h1>Login</h1>
        <form method="POST">
            <input type="text" name="usuario" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="mensagem">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}
    </main>
</body>
</html>
